:root {
  --colorbor: aqua;
  --colormain: #13293d;
  --colorbody: #306597;
}
body {
  margin: 0;
  border: 0;
  /* background-color: yellowgreen !important; */
  font-size: 200% !important;
  color: var(--colormain);
}
* {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 50 !important;
  align-items: center;
  padding: 1%;
  background-color: var(--colormain) !important;
  color: #fff;
  height: 25vh;
}

#mainPart {
  display: flex;
  padding: 50px !important;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 5px !important;
}

nav li {
  justify-content: space-around;
  margin: 100px !important;
}
nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#footerEl {
  display: flex;
  justify-content: center;
}
footer {
  padding: 1%;
  color: var(--colorbody);
  /* height: 5vh */
}

footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  border-bottom: 10px var(--colorbody);
  width: 40%;
  font-weight: bold;
  align-self: flex-end;
}
footer li {
  justify-content: space-around;
  margin: 30px !important;
}
/* footer a {
  font-weight: bold;
  text-decoration: none;
} */
@media screen and (max-width: 992px) {
  .card-text {
    font-size: small;
  }
  footer {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .card-text {
    font-size: xx-small;
    width: 90%;
  }

  */ footer {
    width: 100%;
  }
}
.special:hover {
  opacity: 50%;
  display: flex;
  border: 5px solid var(--colorbor);
  width: 40%;
  padding: 0 20px;
  margin: 5px 0;
  height: 35vh !important;
  flex-direction: column;
}
#cardsix {
  /* flex: 4 0 100px; */
  background-image: url(../public/Fotofoto.png);
}
#cardone {
  /* flex: 4 0 100px; */
  background-image: url(../public/firstproject.png);
}
#cardtwo {
  background-image: url(../public/projecttwo.png);
  margin: 5px 0;
}
#cardthree {
  background-image: url(../public/projectthree.png);
  margin: 5px 0;
}
#cardfour {
  background-image: url(../public/projectfour.png);
  margin: 5px 0;
}
#cardfive {
  background-image: url(../public/projectfive.png);
  margin: 5px 0;
}
