:root {
  --colorbor: aqua;
  --colormain: #13293d;
  --colorbody: #306597;
  margin: 0 auto;
}
body {
  margin: 0;
  border: 0;
  display: block;
  background-color: skyblue !important;
  font-size: 200% !important;
  color: var(--colormain);
}
* {
  box-sizing: border-box;
  font-family: "Courgette" !important;
  overflow: hidden;
}
#myPic {
  border-radius: 50% !important;
}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap !important;
  /* padding: 50 !important; */
  align-items: center;
  padding: 1%;
  background-color: var(--colormain) !important;
  color: #fff;
  overflow: hidden;
  /* height: 25vh; */
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 5px !important;
}

nav li {
  justify-content: space-around;
  margin: 100px !important;
}
nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#mainPart {
  /* display: flex; */
  padding: 50px !important;
  /* margin: 100px; */
}
form {
  width: 80%;
}
textarea {
  width: 100%;
  height: 40%;
}
input {
  width: 60%;
  height: 10%;
}
#footerEl {
  display: flex;
  justify-content: center;
}
footer {
  padding: 1%;
  color: var(--colorbody);
  /* height: 5vh */
}

footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  border-bottom: 10px var(--colorbody);
  width: 40%;
  font-weight: bold;
  align-self: flex-end;
}
footer li {
  justify-content: space-around;
  margin: 30px !important;
}
#work {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 50px;
}
.special {
  position: relative;
  width: 40% !important;
}
.special-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.special:hover {
  opacity: 70%;
}
/* .special-image:hover {

} */
.special-text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.special-text:hover {
  opacity: 1 !important;
  /* background-color: aqua; */
}
/* .special:hover {
  
  display: flex;
  border: 5px solid var(--colorbor);
  width: 40%;
  padding: 0 20px;
  margin: 5px 0;
  height: 35vh !important;

} */

/* @media screen and (max-width: 992px) {
  #root {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  header {
    width: 100%;
  }
} */
/* @media screen and (max-width: 768px) {
  #root {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  header {
    width: 100%;
  }
} */
@media screen and (max-width: 425px) {
  /* #root {
    width: 100%;
  }
  .special {
    width: 100%;
  } */
  header {
    padding: 5 !important;
    font-size: small;
    justify-content: center;
  }
  nav li {
    justify-content: space-around;
    margin: 5px !important;
    font-size: medium;
  }
  .card {
    margin: 5px !important;
  }
  .special {
    position: relative;
    width: 100%;
  }
  /* 
  footer {
    width: 100%;
  } */
}
